@model Plathe.Domain.Entities.Movie

@* Author = Mieke *@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Voeg nieuwe film toe</h2>
    </div>

    @using (Html.BeginForm("Create", "AdminMovie"))
    {
        <div class="panel-body">

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "MovieId")
                {
                    if (property.PropertyName != "Genre")
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 10 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                    }
                }
            }

            <div>
                <input type="submit" value="Opslaan" class="btn btn-primary" />
                @Html.ActionLink("Annuleer en ga terug naar overzicht", "Index", null, new
                {
                    @class = "btn btn-default"
                })
            </div>
        </div>
    }

</div>

