@using Plathe.Domain.Entities
@model Plathe.WebUI.Models.ShowViewModel

@{
    ViewBag.Title = "Voorstellingen";
}

<h2>Voorstellingen</h2>

<div id="movieList">
    @foreach (var item in Model.Shows.ToList())
    {
       <div class="col-sm-4">
        <table>
            <tr>
                <td rowspan="5" class="poster">
                    <a href="/Movie/Details/@Html.DisplayFor(modelItem => item.MovieID)"><img src='@item.Movie.Image' /></a>
                </td>
                <th colspan="2" class="title">
                    @Html.DisplayFor(model => item.Movie.Title)
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.getFormatedStartingTime)
                </td>

            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtitle)
                </td>
                <td>
                    @(item.ThreeDimensional ? "3D" : "")
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    @Html.ActionLink("Reserveren", "TicketSelection", new { id = item.ShowID })
                </th>
            </tr>
        </table>
    </div>
    }
</div>
