@using Plathe.Domain.Entities
@model Plathe.WebUI.Models.ShowViewModel

@{
    ViewBag.Title = "Voorstellingen";
}

<h2>Voorstellingen</h2>

<table class="table">
    @foreach (var item in Model.Shows.ToList())
    {
        <tr>
            <td>
                <a href="/Movie/Details/@Html.DisplayFor(modelItem => item.MovieID)"><img sr><img src='@item.Movie.Image' /></a>
            </td>
                <th colspan="2">
                @Html.DisplayFor(model => item.Movie.Title)
                </th>
            </tr>
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.StartingTime)
            </td>

            </tr>
            <tr>
            <td>
                Begint om: @Html.DisplayFor(modelItem => item.StartingTime)
            </td>
            <td>
                    @(item.ThreeDimensional ? "3D" : "")
            </td>
            <td>
                @Html.ActionLink("Reserveren", "TicketSelection", new { id = item.ShowID })
            </td>
        </tr>
        </table>
    </div>
    }
</div>
