@model Plathe.Domain.Entities.Show

@{
    ViewBag.Title = "Voorstelling " + Model.Movie.Title;
}

<div class="row">
    <div class="col-sm-12">
        <h2>Voorstelling @Html.DisplayFor(model => model.Movie.Title)</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h3>Informatie</h3>
        <dl>
            <dt><img src="@Html.DisplayFor(model => model.Movie.Image)" /></dt>
            <dt>@Html.DisplayNameFor(model => model.Movie.Title)</dt>
            <dd>@Html.DisplayFor(model => model.Movie.Title)</dd>
            <dt>@Html.DisplayNameFor(model => model.Subtitle)</dt>
            <dd>@Html.DisplayFor(model => model.Subtitle)</dd>
            <dt>@Html.DisplayNameFor(model => model.StartingTime)</dt>
            <dd>@Html.DisplayFor(model => model.StartingTime)</dd>
            <dt>@Html.DisplayNameFor(model => model.ThreeDimensional)</dt>
            <dd>@Html.DisplayFor(model => model.ThreeDimensional)</dd>
        </dl>
    </div>

    <div class="col-sm-9">
        <h3>Stap 1: Kies het aantal tickets</h3>
           
        @if (@ViewBag.Error)
        {
            <div class="alert alert-danger" role="alert">@(ViewBag.Message)</div>
        }

        <form action="/shows/SeatSelection" name="ticket-selection" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal volwassenen
                </div>
                <div class="col-sm-2">
                    <select name="amountAdults" class="form-control">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal 65+
                </div>
                <div class="col-sm-2">
                    <select name="amountAdultsPlus" class="form-control">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal kinderen
                </div>
                <div class="col-sm-2">
                    <select name="amountChildren" class="form-control">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal Popcorn tickets
                </div>
                <div class="col-sm-2">
                    <select name="amountPopcorn" class="form-control">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 clearfix">
                    <input type="hidden" name="showId" value="@Model.ShowID" />
                    <button type="submit" class="btn btn-lg btn-success pull-right">Naar stoelselectie <i class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>   
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Html.ActionLink("Terug naar voorstellingen", "Index")</p>
    </div>
</div>