@model Plathe.WebUI.Models.SeatSelectionViewModel

@{
    ViewBag.Title = "Voorstelling " + Model.TicketSelectionViewModel.Show.Movie.Title;
}

<div class="row">
    <div class="col-sm-12">
        <h2>Voorstelling @Html.DisplayFor(model => Model.TicketSelectionViewModel.Show.Movie.Title)</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h3>Informatie</h3>
        <dl>
            <dt><img src="@Html.DisplayFor(model => model.TicketSelectionViewModel.Show.Movie.Image)" /></dt>
            <dt>@Html.DisplayNameFor(model => model.TicketSelectionViewModel.Show.Movie.Title)</dt>
            <dd>@Html.DisplayFor(model => model.TicketSelectionViewModel.Show.Movie.Title)</dd>
            <dt>@Html.DisplayNameFor(model => model.TicketSelectionViewModel.Show.Subtitle)</dt>
            <dd>@Html.DisplayFor(model => model.TicketSelectionViewModel.Show.Subtitle)</dd>
            <dt>@Html.DisplayNameFor(model => model.TicketSelectionViewModel.Show.StartingTime)</dt>
            <dd>@Html.DisplayFor(model => model.TicketSelectionViewModel.Show.StartingTime)</dd>
            <dt>@Html.DisplayNameFor(model => model.TicketSelectionViewModel.Show.ThreeDimensional)</dt>
            <dd>@Html.DisplayFor(model => model.TicketSelectionViewModel.Show.ThreeDimensional)</dd>
        </dl>
    </div>

    <div class="col-sm-9">
        <h3>Stap 2: Kies uw stoel</h3>
        <div class="screen">
            <hr />
            Scherm
        </div>
        @using (Html.BeginForm())
        { 
            @Html.AntiForgeryToken()
            <table class="table table-seats">
                <tbody>
                    @foreach (var row in Model.Rows)
                    {
                        <tr data-row-id="@row.RowID">
                            @foreach (var seat in row.Seats)
                            {
                                <td>
                                    @if (seat.Reserved)
                                    {
                                        <span class="seat reserved">
                                            &nbsp;
                                        </span>
                                    }
                                    else
                                    {
                                        <label for="seat-@(seat.SeatID)" class="seat-label" data-row-id="@(row.RowID)" data-seat-id="@(seat.SeatID)">
                                            <input type="checkbox" id="seat-@(seat.SeatID)" name="seat-selected" value="@(seat.SeatID)" class="seat-input">
                                            <span class="seat @(seat.PrioritySeat ? "priority-seat" : "") @(seat.Reserved ? "reserved" : "not-reserved")">
                                                &nbsp;
                                            </span>
                                        </label>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <hr />

            <div class="row">
                <div class="col-sm-12 clearfix">
                    <input type="hidden" name="ShowId" value="@(Model.TicketSelectionViewModel.Show.ShowID)" />
                    <input type="hidden" name="AmountAdults" value="@(Model.TicketSelectionViewModel.AmountAdults)" />
                    <input type="hidden" name="AmountAdultsPlus" value="@(Model.TicketSelectionViewModel.AmountAdultsPlus)" />
                    <input type="hidden" name="AmountChildren" value="@(Model.TicketSelectionViewModel.AmountChildren)" />
                    <input type="hidden" name="AmountPopcorn" value="@(Model.TicketSelectionViewModel.AmountPopcorn)" />
                    <input type="hidden" name="AmountTotal" value="@(Model.TicketSelectionViewModel.TotalAmount)" />
                    <button type="submit" class="btn btn-lg btn-success pull-right" id="payButton" disabled>Naar afrekenen <i class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
            </div>

            <hr />

            <table class="table table-bordered table-legend">
                <tr>
                    <td>
                        Legenda:
                    </td>
                </tr>
                <tr>
                    <td class="premium">Normale stoelen (beste zicht!)</td>
                    <td class="normal">Normale stoelen</td>
                    <td class="reserved">Bezet</td>
                    <td class="selection">Uw selectie</td>
                </tr>
            </table>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Html.ActionLink("Terug naar voorstellingen", "Index")</p>
    </div>
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var totalSeats = @(Model.TicketSelectionViewModel.TotalAmount)

        $('table').on('click', 'label', function () {

            // get selected seat + row
            var rowId = $(this).data('row-id');
            var seatId = $(this).data('seat-id');

            // remove all checked checkboxes, because we want a new selection
            $('table').find('input').not('#seat-' + seatId).prop('checked', false);

            // select next seats
            var nextSeats = $(this).parent().nextAll().slice(0, totalSeats - 1);

            var success = true;

            if (nextSeats.length != totalSeats - 1) {
                success = false;
            }

            // check if reserved seat is in the way
            $(nextSeats).each(function () {
                if ($(this).find('span').hasClass('reserved')) {
                    success = false;
                }
            });

            // check if there is one free seat before our selection (this is not allowed)
            // TODO

            // check if theree is one free seat after our selection (this is not allowed)
            // TODO

            if(success === true) {
                $(nextSeats).each(function () {
                    // select seats
                    $(this).find('input').prop('checked', true);

                    // show submit button
                    $('#payButton').prop('disabled', false);
                });
            } else {
                alert('Selectie niet mogelijk.');
                $('table').find('input').prop('checked', false);
            }
        });
    });
</script>