@model Plathe.WebUI.Models.TicketSelectionViewModel

@{
    ViewBag.Title = "Voorstelling " + Model.Show.Movie.Title;
}

<div class="row">
    <div class="col-sm-12">
        <h2>Voorstelling @Html.DisplayFor(model => model.Show.Movie.Title)</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h3>Informatie</h3>
        <dl>
            <dt><img src="@Html.DisplayFor(model => model.Show.Movie.Image)" /></dt>
            <dt>@Html.DisplayNameFor(model => model.Show.Movie.Title)</dt>
            <dd>@Html.DisplayFor(model => model.Show.Movie.Title)</dd>
            <dt>@Html.DisplayNameFor(model => model.Show.Subtitle)</dt>
            <dd>@Html.DisplayFor(model => model.Show.Subtitle)</dd>
            <dt>@Html.DisplayNameFor(model => model.Show.StartingTime)</dt>
            <dd>@Html.DisplayFor(model => model.Show.StartingTime)</dd>
            <dt>@Html.DisplayNameFor(model => model.Show.ThreeDimensional)</dt>
            <dd>@Html.DisplayFor(model => model.Show.ThreeDimensional)</dd>
        </dl>
    </div>

    <div class="col-sm-9">
        <h3>Stap 1: Kies het aantal tickets</h3>
           

        @using (Html.BeginForm())
        {
            <!--<form action="/shows/SeatSelection" name="ticket-selection" method="post">-->
            @Html.AntiForgeryToken()
            
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal volwassenen
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.AmountAdults, new SelectList(Enumerable.Range(0, 5)), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal 65+
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.AmountAdultsPlus, new SelectList(Enumerable.Range(0, 5)), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal kinderen
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.AmountChildren, new SelectList(Enumerable.Range(0, 5)), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    Aantal Popcorn tickets
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListFor(m => m.AmountPopcorn, new SelectList(Enumerable.Range(0, 5)), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 clearfix">
                    @Html.HiddenFor(m => m.ShowId);

                    <button type="submit" class="btn btn-lg btn-success pull-right">Naar stoelselectie <i class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
            </div>
            <!--</form> -->
        }
    </div>   
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Html.ActionLink("Terug naar voorstellingen", "Index")</p>
    </div>
</div>