@* Author: Mieke*@

@model Plathe.WebUI.Models.MovieDetailViewModel

@{
    ViewBag.Title = "Film";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div id="Genres" class="nav nav-pills nav-stacked">
                @Html.Action("Menu", "Nav")
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-8">
                    <h2>@Html.DisplayFor(model => model.Movie.Title)</h2>
                    <p>Duur: @Html.DisplayFor(model => model.Movie.Duration) minuten</p>
                    <p>Regisseur: @Html.DisplayFor(model => model.Movie.Director)</p>
                    <p>Acteurs: @Html.DisplayFor(model => model.Movie.MainCharacters)</p>
                    <p>@Html.DisplayFor(model => model.Movie.Description)</p>

                    <div class="btn-group" role="group">
                        <a href="@Html.DisplayFor(model => Model.Movie.LinkToWebsite)" target="blank" class="btn btn-default" role="button">Officiële website</a>
                        <a href="@Html.DisplayFor(model => Model.Movie.LinkToTrailer)" target="blank" class="btn btn-default" role="button">Trailer</a>
                        <a href="@Html.DisplayFor(model => Model.Movie.LinkToImdb)" target="blank" class="btn btn-default" role="button">IMDB</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <img src="@Html.DisplayFor(model => model.Movie.Image)" alt="@Html.DisplayFor(model => model.Movie.Title)">
                    <p> </p>
                    <div style="margin-bottom: 10px">
                        @if (Model.Movie.RatingDiscrimination)
                        {
                            <img src="~/Content/img/discriminatie.svg" width="35" />
                        }
                        @if (Model.Movie.RatingDrugs)
                        {
                            <img src="~/Content/img/drugs.svg" width="35" />
                        }
                        @if (Model.Movie.RatingFear)
                        {
                            <img src="~/Content/img/angst.svg" width="35" />
                        }
                        @if (Model.Movie.RatingLanguage)
                        {
                            <img src="~/Content/img/groftaalgebruik.svg" width="35" />
                        }
                        @if (Model.Movie.RatingSex)
                        {
                            <img src="~/Content/img/seks.svg" width="35" />
                        }
                        @if (Model.Movie.RatingViolence)
                        {
                            <img src="~/Content/img/geweld.svg" width="35" />
                        }
                    </div>
                    <p> </p>
                    <p>3D: @Html.DisplayFor(model => model.Movie.ThreeDimensional)</p>
                    <p>Taal: @Html.DisplayFor(model => model.Movie.Language)</p>
                    <p>Genre: @Html.DisplayFor(model => model.Movie.Genre.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <h3>Bioscoop agenda voor deze film:</h3>

                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.ShowsForMovie.ToList())
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.Movie.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Room.RoomName)
                                    </td>
                                    <td>
                                        Ondertiteling: @Html.DisplayFor(modelItem => item.Subtitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GetFormatedStartingTime)
                                    </td>
                                    <td>
                                        3D: @(item.ThreeDimensional ? "Ja" : "Nee")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Reserveren", "TicketSelection", "Shows", new { id = item.ShowId }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

