@* Author: Mieke*@

@model Plathe.WebUI.Models.MovieDetailViewModel

@{
    ViewBag.Title = "Film";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div id="Genres" class="nav nav-pills nav-stacked">
                @Html.Action("Menu", "Nav")
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-8">
                    <h2>@Html.DisplayFor(model => model.movie.Title)</h2>
                    <p>Duur: @Html.DisplayFor(model => model.movie.Duration) minuten</p>
                    <p>Regisseur: @Html.DisplayFor(model => model.movie.Director)</p>
                    <p>Acteurs: @Html.DisplayFor(model => model.movie.MainCharacters)</p>
                    <p>@Html.DisplayFor(model => model.movie.Description)</p>

                    <div class="btn-group" role="group">
                        <a href="@Html.DisplayFor(model => Model.movie.linkToWebsite)" target="blank" class="btn btn-default" role="button">Officiële website</a>
                        <a href="@Html.DisplayFor(model => Model.movie.linkToTrailer)" target="blank" class="btn btn-default" role="button">Trailer</a>
                        <a href="@Html.DisplayFor(model => Model.movie.linkToImdb)" target="blank" class="btn btn-default" role="button">IMDB</a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <img src="@Html.DisplayFor(model => model.movie.Image)" alt="@Html.DisplayFor(model => model.movie.Title)">
                    <p> </p>
                    <div style="margin-bottom: 10px">
                        @if (Model.movie.RatingDiscrimination == true)
                        {
                            <img src="~/Content/img/discriminatie.svg" width="35" />
                        }
                        @if (Model.movie.RatingDrugs == true)
                        {
                            <img src="~/Content/img/drugs.svg" width="35" />
                        }
                        @if (Model.movie.RatingFear == true)
                        {
                            <img src="~/Content/img/angst.svg" width="35" />
                        }
                        @if (Model.movie.RatingLanguage == true)
                        {
                            <img src="~/Content/img/groftaalgebruik.svg" width="35" />
                        }
                        @if (Model.movie.RatingSex == true)
                        {
                            <img src="~/Content/img/seks.svg" width="35" />
                        }
                        @if (Model.movie.RatingViolence == true)
                        {
                            <img src="~/Content/img/geweld.svg" width="35" />
                        }
                    </div>
                    <p> </p>
                    <p>3D: @Html.DisplayFor(model => model.movie.ThreeDimensional)</p>
                    <p>Taal: @Html.DisplayFor(model => model.movie.Language)</p>
                    <p>Genre: @Html.DisplayFor(model => model.movie.genre.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <h3>Bioscoop agenda voor deze film:</h3>

                    <table class="table">
                        <tbody>
                            @foreach (var item in Model.showsForMovie.ToList())
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.Movie.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Room.RoomName)
                                    </td>
                                    <td>
                                        Ondertiteling: @Html.DisplayFor(modelItem => item.Subtitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GetFormatedStartingTime)
                                    </td>
                                    <td>
                                        3D: @(item.ThreeDimensional ? "Ja" : "Nee")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Reserveren", "TicketSelection", "Shows", new { id = item.ShowId }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

