@model Plathe.Backend.Models.ShowViewModel

@{
    ViewBag.Title = "Voorstelling gegevens";
}

<h2>Voorstelling gegevens</h2>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Show.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Room.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Room.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.Subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.Subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.StartingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.StartingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.ThreeDimensional)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerk", "Edit", new { id = Model.Show.ShowId }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
