@model Plathe.Backend.Models.ShowListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Voorstellingen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeDimensional)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Shows.ToList()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetFormatedStartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreeDimensional)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "Edit", new { id=item.ShowId }) |
            @Html.ActionLink("Inzien", "Details", new { id=item.ShowId }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.ShowId })
        </td>
    </tr>
}

</table>
