@model IEnumerable<Plathe.Domain.Entities.Show>

@{
    ViewBag.Title = "Index";
}

<h2>Voorstellingen</h2>

<p>
    @Html.ActionLink("Nieuwe voorstelling", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titel
        </th>
        <th>
            Zaalnaam
        </th>
        <th>
           Ondertiteling
        </th>
        <th>
            Starttijd
        </th>
        <th>
            3D
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetFormatedStartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreeDimensional)
        </td>
        <td>
            @Html.ActionLink("Bewerk", "Edit", new { id=item.ShowId }) |
            @Html.ActionLink("Inzien", "Details", new { id=item.ShowId }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id=item.ShowId })
        </td>
    </tr>
}

</table>
