@model Plathe.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreeDimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreeDimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingViolence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingViolence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingFear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingFear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingDiscrimination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingDiscrimination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingDrugs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingDrugs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingLanguage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
