@model Plathe.Models.Show

@{
    ViewBag.Title = "Voorstelling";
}

<h2>Voorstelling: @Html.DisplayFor(model => model.Movie.Title)</h2>

<hr />

<div class="row">

    <div class="col-sm-4">
        <div style="background: #fff; border-radius: 5px; border: 1px solid #B5B5B5;">
            <img src="@Html.DisplayFor(model => model.Movie.Image)" alt="@Html.DisplayFor(model => model.Movie.Title)" class="img-responsive m-5" style="margin: 10px auto;">

            <table class="table">
                <tbody>
                    <tr>
                        <td>3D</td>
                        @if (Model.Movie.ThreeDimensional)
                        {
                            <td>Ja</td>
                        }
                        else
                        {
                            <td>Nee</td>
                        }
                    </tr>
                    <tr>
                        <td>Rolstoel</td>
                        <td>Onbekend</td>
                    </tr>
                    <tr>
                        <td>Begintijd</td>
                        <td>@Html.DisplayFor(model => model.StartingTime)</td>
                    </tr>
                    <tr>
                        <td>Duur</td>
                        <td>@Html.DisplayFor(model => model.Movie.Duration) minuten</td>
                    </tr>
                </tbody>
            </table>

            <p style="margin-left: 10px;">
                @Html.ActionLink("Terug naar overzicht", "Index")
            </p>
        </div>
    </div>

    <div class="col-sm-8">
        <div style="background: #fff; border-radius: 5px; border: 1px solid #B5B5B5;   padding: 10px 30px;">
            <div class="form-horizontal">
                <h4>Reserveren</h4>
                <hr />
                <form method="post" action="/Shows/Reservate/">
                    @Html.AntiForgeryToken()
                    <table class="table text-right">
                        <tbody>
                            <tr>
                                <td>
                                    Volwassen
                                </td>
                                <td>
                                    <input type="number" name="adults" min="0" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    65 plus
                                </td>
                                <td>
                                    <input type="number" name="adultsplus" min="0" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Kinderen
                                </td>
                                <td>
                                    <input type="number" name="childs" min="0" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Popcorn arragement (inclusief ticket)
                                </td>
                                <td>
                                    <input type="number" name="popcorn" min="0" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" name="submit" class="btn btn-primary pull-right" style="margin-top: 15px;">Ga naar betalen</button>
                    <input type="hidden" name="id" value="@Html.DisplayFor(model => model.ShowID)">
                </form>
            </div>
        </div>
    </div>
</div>