<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="~/Content/img/plathe-logo.png" height="35" /></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                    }
                    @if (User.IsInRole("Administrators") || User.IsInRole("Administratie"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" ? "active" : "")">
                            @Html.ActionLink("Gebruikers", "Index", "Admin")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "RoleAdmin" ? "active" : "")">
                            @Html.ActionLink("Rollen", "Index", "RoleAdmin")
                        </li>
                    }
                    @if (User.IsInRole("Administrators") || User.IsInRole("Medewerker"))
                    {
                        <li class="active">Films</li>
                        <li class="active">Abonnementen</li>
                    }
                    @if (User.IsInRole("Administrators") || User.IsInRole("Beheer"))
                    {
                        <li class="active">@Html.ActionLink("Films beheren", "List", "Movie")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Uitloggen", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>