@model Plathe.TabletUI.Models.MovieViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Movie.Title);
}
<div class="row">

    <div class="col-sm-3">
        <div class="block detail">
            <img src="@Html.DisplayFor(model => model.Movie.Image)" alt="@Html.DisplayFor(model => model.Movie.Title)" height="250" />
            <div class="extra">
                @if (@Model.Movie.RatingDiscrimination == true)
                {
                    <img src="~/Content/img/discriminatie.svg" width="35" title="Discriminatie" alt="Discriminatie" />
                }
                @if (@Model.Movie.RatingDrugs == true)
                {
                    <img src="~/Content/img/drugs.svg" width="35" title="Drugs" alt="Drugs" />
                }
                @if (@Model.Movie.RatingFear == true)
                {
                    <img src="~/Content/img/angst.svg" width="35" title="Angst" alt="Angst" />
                }
                @if (@Model.Movie.RatingLanguage == true)
                {
                    <img src="~/Content/img/groftaalgebruik.svg" width="35" title="Grof taal gebruik" alt="Grof taal gebruik" />
                }
                @if (@Model.Movie.RatingSex == true)
                {
                    <img src="~/Content/img/seks.svg" width="35" title="Seks" alt="Seks" />
                }
                @if (@Model.Movie.RatingViolence == true)
                {
                    <img src="~/Content/img/geweld.svg" width="35" title="Geweld" alt="Geweld" />
                }
                @if (@Model.Movie.ThreeDimensional == true)
                {
                    <img src="~/Content/img/3d.svg" width="35" title="3d" alt="3d" />
                }
                @if (@Model.Movie.MinimumAge == 0)
                {
                    <img src="~/Content/img/leeftijd-al.svg" width="35" title="alle leedtijden" alt="Alle leedtijden" />
                }
                @if (@Model.Movie.MinimumAge == 6)
                {
                    <img src="~/Content/img/leeftijd-6.svg" width="35" title="6 jaar" alt="6 jaar" />
                }
                @if (@Model.Movie.MinimumAge == 12)
                {
                    <img src="~/Content/img/leeftijd-12.svg" width="35" title="12 jaar" alt="12 jaar" />
                }
                @if (@Model.Movie.MinimumAge == 16)
                {
                    <img src="~/Content/img/leeftijd-16.svg" width="35" title="16 jaar" alt="16 jaar" />
                }
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="block detail info">
            <h2>@Html.DisplayFor(model => model.Movie.Title)</h2>
            <p>@Html.DisplayFor(model => model.Movie.Description)</p>
        </div>
    </div>
</div>
