@model Plathe.Domain.Entities.Movie


@{
    ViewBag.Title = @Model.Title;
}

<div class="row">
    <div class="col-sm-3">
        <div class="block detail">
            <img width="200" src="@Model.Image" alt="@Model.Title">
            <div class="extra">
                @if (@Model.RatingDiscrimination == true)
                {
                    <img src="~/Content/img/discriminatie.svg" width="35" title="Discriminatie" alt="Discriminatie" />
                }
                @if (@Model.RatingDrugs == true)
                {
                    <img src="~/Content/img/drugs.svg" width="35" title="Drugs" alt="Drugs" />
                }
                @if (@Model.RatingFear == true)
                {
                    <img src="~/Content/img/angst.svg" width="35" title="Angst" alt="Angst" />
                }
                @if (@Model.RatingLanguage == true)
                {
                    <img src="~/Content/img/groftaalgebruik.svg" width="35" title="Grof taal gebruik" alt="Grof taal gebruik" />
                }
                @if (@Model.RatingSex == true)
                {
                    <img src="~/Content/img/seks.svg" width="35" title="Seks" alt="Seks" />
                }
                @if (@Model.RatingViolence == true)
                {
                    <img src="~/Content/img/geweld.svg" width="35" title="Geweld" alt="Geweld" />
                }
                @if (@Model.ThreeDimensional == true)
                {
                    <img src="~/Content/img/3d.svg" width="35" title="3d" alt="3d" title="3D" alt="3D" />
                }
                @if (@Model.MinimumAge == 0)
                {
                    <img src="~/Content/img/leeftijd-al.svg" width="35" title="alle leedtijden" alt="Alle leedtijden" />
                }
                @if (@Model.MinimumAge == 6)
                {
                    <img src="~/Content/img/leeftijd-6.svg" width="35" title="6 jaar" alt="6 jaar" />
                }
                @if (@Model.MinimumAge == 12)
                {
                    <img src="~/Content/img/leeftijd-12.svg" width="35" title="12 jaar" alt="12 jaar" />
                }
                @if (@Model.MinimumAge == 16)
                {
                    <img src="~/Content/img/leeftijd-16.svg" width="35" title="16 jaar" alt="16 jaar" />
                }
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="block detail info">
            <h2>@Model.Title</h2>
            <p>@Model.Description)</p>
        </div>
    </div>
</div>