@using Plathe.AdminUI.Models
@model IEnumerable<AppUser>
@{ ViewBag.Title = "Index"; }
<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Alle gebruikers</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Gebruikersnaam</th>
                    <th>E-mailadres</th>
                    <th></th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">Er zijn geen gebruikers aanwezig.</td>
                    </tr>
                }
                else
                {
                    foreach (AppUser user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td class="text-right">
                                @using (Html.BeginForm("Delete", "Admin",
                                    new {id = user.Id}))
                                {
                                    @Html.ActionLink("Bewerken", "Edit", new {id = user.Id}, new {@class = "btn btn-warning btn-xs"})
                                    <button class="btn btn-danger btn-xs" type="submit">Verwijderen</button>
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        @Html.ActionLink("Nieuwe gebruiker", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>