@model IEnumerable<Plathe.Models.Reservation>
@{
    ViewBag.Title = "Printing";
}

<div class="text-center">

    <span class="glyphicon glyphicon-print" style="font-size: 120px; color: #222; margin-bottom: 20px;"></span>

    <p>Een moment geduld alstublieft, uw tickets worden geprint</p>
    <div class="tickets-printing">
        @foreach (var item in Model)
        {

            Html.DisplayFor(modelItem => item.ReservationID);

            int countTickets = 1;
            foreach (var ticket in item.Tickets)
            {
                <div id="ticket-@countTickets" class="panel panel-default text-left mw-250" style="display: none;">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Ticket: @ticket.UniqueCode</div>

                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">Film: @ticket.Show.Movie.Title</li>
                        <li class="list-group-item">Tijdsduur: @ticket.Show.Movie.Duration</li>
                        <li class="list-group-item">Datum/tijd: @ticket.Show.StartingTime</li>
                        <li class="list-group-item">Prijs: @ticket.Price</li>

                    </ul>
                </div>
                countTickets++;
            }
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(function () {
            if ($("#ticket-1").length) {

                var counter = 0;
                var noExists = false;
                 window.setInterval(function () {
                    if (noExists === true) {
                        window.location.replace("/");
                    }

                    nextId = counter + 1;
                    if ($("#ticket-" + nextId).length) {
                        $("#ticket-" + counter).hide();
                        $("#ticket-" + nextId).show();
                        counter += 1;
                    } else {
                        noExists = true;
                        $(".tickets-printing").empty().append('<div class="alert alert-info">Uw tickets zijn geprint</div>');
                    }
                }, 5000);


            }
        });
    </script>
}