@model Plathe.Backend.Models.ShowFindViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Films Vandaag</div>
            <table class="table">
                <tr>
                    <td>Film</td>
                    <td>Zaal</td>
                    <td>Ondertiteling</td>
                    <td>Tijd</td>
                    <td>3D</td>
                    <td></td>
                </tr>

                @foreach (var item in Model.Shows.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Room.RoomName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetFormatedStartingTime)
                        </td>
                        <td>
                            @(item.ThreeDimensional ? "Ja" : "Nee")
                        </td>
                        <td>
                            @if (User.IsInRole("sales"))
                            {
                                <a href="/Tickets/ticketselection/@item.ShowId">Bestellen</a>
                            }

                            @if (User.IsInRole("backoffice"))
                            {
                                <a href="/Shows/Edit/@item.ShowId">Bewerk</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-6">
        
    </div>
</div>

