@* Author: Mieke*@

@model IEnumerable<Plathe.Domain.Entities.Show>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Overzicht voorstellingen</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ShowId)</th>
        <th>@Html.DisplayNameFor(model => model.Movie.Title)</th>
        <th>@Html.DisplayNameFor(model => model.StartingTime)</th>
        <th>@Html.DisplayNameFor(model => model.RoomId)</th>
        <th>Edit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ShowId)</td>
            <td>@Html.DisplayFor(modelItem => item.Movie.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.StartingTime)</td>
            <td>@Html.DisplayFor(modelItem => item.RoomId)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShowId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voeg voorstelling toe", "Create", null, new { @class = "btn btn-default" })
</div>