@* Author: Mieke*@

@using Plathe.Domain.Entities
@model IEnumerable<Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Overzicht films</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.MovieId)</th>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Language)</th>
        <th>@Html.DisplayNameFor(model => model.Duration)</th>
        <th>@Html.DisplayNameFor(model => model.MinimumAge)</th>
        <th>Edit</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => p.MovieId)</td>
            <td>@Html.DisplayFor(modelItem => p.Title)</td>
            <td>@Html.DisplayFor(modelItem => p.Language)</td>
            <td>@Html.DisplayFor(modelItem => p.Duration) min.</td>
            <td>@Html.DisplayFor(modelItem => p.MinimumAge)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = p.MovieId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voeg film toe", "AddMovie", null, new { @class = "btn btn-default" })
</div>